.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.mdc-button{
    color:#3366CC !important;
}
.link :hover{
    background: none !important;
}

.job-card{
    margin-top: 20px;
}